* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
   /* font-family: 'PT Sans', sans-serif; */
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #fff
 }

 .wrapper {
   background-color: #2a3f50;
   /* width: 1440px; */
   height: 100vh;
   padding: 50px 44px;
 }